:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

:host ::ng-deep mat-toolbar.mat-toolbar-single-row {
  padding: 0;
}

:host ::ng-deep mat-toolbar button {
  height: inherit;
}


app-playback-control-panel {
  height: 45px;
  display: block;
  position: relative;
}

section {
  width: 100%;
  height: calc(100% - 45px);
  display: block;
  position: relative;
  background: #FFF;
}

#playbackContainer {
  transform-origin: left top;
  position: absolute;
}

iframe {
  position: absolute;
}


