<div class="overlay-screen" *ngIf="!recording">

  <h1>Check this out!</h1>
  <h3>In order to start record please press the button below</h3>

  <button class="recorder-btn start-record-btn" (click)="startRecord()">Start record</button>


</div>

<div class="time-left-reminder-block" *ngIf="recording">
  <ng-container [counter]="counter" (onCompleted)="onCompletedHandler()" [interval]="interval" (value)="value = $event">
    <span>Time left: {{value}}</span>
  </ng-container>
</div>

<div class="overlay-screen" *ngIf="!recording && recordingEnd">

  <h1>Press the button in order to see your recorded session</h1>
  <button class="recorder-btn">Watch</button>

</div>

