<div class="time-left-reminder-block" *ngIf="recording">
  <ng-container [counter]="counter" (onCompleted)="onCompletedHandler()" [interval]="interval" (value)="value = $event">
    <span>Time left: {{value}}</span>
  </ng-container>
</div>

<modal #startModal>
  <modal-header>
    <h3>Session Recorder Wizard</h3>
  </modal-header>
  <modal-content>
    <p>In order to start recording current user session press the "Record" below</p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="startRecord()">Record</button>
  </modal-footer>
</modal>

<modal #stopModal>
  <modal-header>
    <h3>Session Recorder Wizard</h3>
  </modal-header>
  <modal-content>
    <p>Record completed. In order to watch recorded session click the button below</p>
  </modal-content>
  <modal-footer>
    <a class="btn btn-primary" href="{{getRecordingUrl()}}">Watch</a>
  </modal-footer>
</modal>

